<div class="container mt-5" data-controller="honing">

  <!-- DIV FOR ITEM LIST (LEFT) -->
  <div class="container-left">
    <%= render "item_list" %>
  </div>
  <!-- DIV FOR ACTIVE ITEM / PROGRESS BARS / OPTIONALS / CARDS / HONE BTN (MIDDLE) -->
  <div class="container-middle">
    <%= render "active_item" %>
    <%= render "progress_bars" %>
    <%= render "optional_mats" %>
    <%= render "cards" %>
    <%= render "hone" %>
  </div>
  <!-- DIV FOR COUNTERS (RIGHT) -->
  <div class="container-right">
    <%= render "counter" %>
  </div>
</div> <!-- container -->
