<div class="container mt-5" data-controller="computations active">

  <!-- DIV FOR ITEM LIST (LEFT) -->
  <div class="container-left">
    <%= render "item_list" %>
  </div>

  <!-- DIV FOR ACTIVE ITEM / PROGRESS BARS / OPTIONALS / CARDS / HONE BTN (MIDDLE) -->
  <div class="container-middle">
    <%= render "active_item" %>
    <h1 data-computations-target="success" style="text-align: -webkit-center; padding: 2px 0; color: whitesmoke;
    text-shadow: 2px 2px 10px white;"></h1>
    <div class="wrap-middle">
      <%= render "progress_bars"%>
      <%= render "optional_mats" %>
      <%= render "cards" %>
      <%= render "hone" %>
    </div>
  </div>
  <!-- DIV FOR COUNTERS (RIGHT) -->
  <div class="container-right">
    <%= render "counter" %>
  </div>

</div> <!-- container -->
