<div class="container">

  <% @items.each do |item| %>
    <div class="item-container">
      <%# insert img here %>
      <h2> <%= item.name %> </h2>
      <%= simple_form_for(item) do |f|%>
        <%= f.input :name, input_html: {value: item.name }%>
        <%= f.input :current_level, as: :numeric, input_html: { min: '1', max: '19' } %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>

</div>
