<div class="container" data-controller="form">

  <%= simple_form_for(:item, url: items_update_all_path, data: {'form-target': 'form', action: 'submit->form#send'}) do |f|%>
    <% @items.each do |item| %>
    <div class="item-container" data-form-target='input'>
      <%# insert img here %>
      <h2> <%= item.name.capitalize %> </h2>
        <%= f.input "#{item.id}", as: :hidden, input_html: {value: item.name}%>
        <%= f.input :current_level, as: :numeric, input_html: { min: '0', max: '19' } %>
    </div>
    <% end %>
  <%= f.submit %>
  <% end %>
</div>
