
  <!--   <% @current_level.materials.each do |material| %>
      <div><%= image_tag "materials/#{material.name}.png" %></div>
    <% end %>
  </div>-->

<div class="cards" style="margin: 0 42px;">
  <div class="grid mt-5">
    <div class="text-center">
      <%= image_tag("materials/#{@materials[0].name}.png", class:"mat-pic") %>
      <p> <%= @materials[0].amount %> </p>
    </div>
    <div class="text-center">
      <%= image_tag("materials/#{@materials[1].name}.png", class:"mat-pic") %>
      <p> <%= @materials[1].amount %> </p>
    </div>
    <div class="text-center">
      <%= image_tag("materials/#{@materials[2].name}.png", class:"mat-pic") %>
      <p> <%= @materials[2].amount %> </p>
    </div>
    <div class="text-center">
     <%= image_tag("materials/#{@materials[3].name}.png", class:"mat-pic") %>
      <p> <%= @materials[3].amount %> </p>
    </div>
    <div class="text-center">
      <%= image_tag("materials/#{@materials[4].name}.png", class:"mat-pic") %>
      <p> <%= @materials[4].amount %> </p>
    </div>
    <div class="text-center">
      <%= image_tag("materials/#{@materials[5].name}.png", class:"mat-pic") %>
      <p> <%= @materials[5].amount %> </p>
    </div>
  </div>
</div>
