<h3 style="text-align: center;">COUNTER</h3>
  <div class="col-2">
    <div class="attempts" data-computations-target="materials">
      <% @materials.each do |material| %>
        <div class="counter" data-amount="<%=material.amount%>" data-name="<%=material.name%>">
         <%= image_tag("materials/#{material.name}.png", class:"mat-pic")%>
          <div class="notification-content" data-action="click->computations#hone" >
            <h5><%=material.amount%></h5>
          </div>
        </div>
      <% end %>
    </div>

    <h4 style="text-align: center;" class="mt-4">ATTEMPTS</h4>
    <div class="attempts">
      <div class="d-flex justify-content-between w-100">
        <p>CURRENT</p>
        <p><small>9</small></p>
      </div>
      <div class="d-flex justify-content-between w-100">
        <p>TOTAL</p>
        <p><small><%= @total_attempt_counter %></small></p>
      </div>
    </div>
  </div>
