<div class="container mt-5">
<div class="d-flex justify-content-center">
<%=image_tag("items/pants.png", class:"selected_item")%>
</div>
  <div class="row mt-5">
    <div class="col-2">
      <h3 style="text-align: center;">Gear</h3>
      <div class="items">
      <%=image_tag("items/pants.png", class:"item_pic")%>
      <%=image_tag("items/gloves.png", class:"item_pic")%>
      <%=image_tag("items/helmet.png", class:"item_pic")%>
      <%=image_tag("items/weapon.png", class:"item_pic")%>
      <%=image_tag("items/shoulders.png", class:"item_pic")%>
      <%=image_tag("items/armour.png", class:"item_pic")%>
      </div>
    </div>
    <div class="col-8 d-flex align-items-center" style="flex-direction: column;">
      <div class="w3-light-grey w3-xlarge" style="width:75%">
  <div class="w3-container w3-green" style="width:50%">50%</div>
  <h3 class="SliderText"> Success chance / max success chance</h3>
</div>
