<div class="item-list">
  <h3 style="text-align: center;">GEAR</h3>
  <div class="items d-flex flex-column justify-content-between" >

    <div data-gear="<%= @items[0].name %>" data-action="click->active#select click->computations#progressBar" data-active-target="gear" data-level="<%= @items[0].current_level.level %>" class="text-center">
      <%=image_tag("items/#{@items[0].name}.png", class:"item_pic rounded-circle border border-white", style:"width: 70px; height: 70px;")%>
      <p>+<%= @items[0].current_level.level %></p>
    </div>

    <div data-gear="<%= @items[1].name %>" data-action="click->active#select click->computations#progressBar" data-active-target="gear" data-level="<%= @items[1].current_level.level %>" class="text-center">
      <%=image_tag("items/#{@items[1].name}.png", class:"item_pic rounded-circle border border-white", style:"width: 70px; height: 70px;")%>
      <p>+<%= @items[1].current_level.level %></p>
    </div>

    <div data-gear="<%= @items[2].name %>" data-action="click->active#select click->computations#progressBar" data-active-target="gear" data-level="<%= @items[2].current_level.level %>" class="text-center">
      <%=image_tag("items/#{@items[2].name}.png", class:"item_pic rounded-circle border border-white", style:"width: 70px; height: 70px;")%>
      <p >+<%= @items[2].current_level.level %></p>
    </div>

    <div data-gear="<%= @items[3].name %>" data-action="click->active#select click->computations#progressBar" data-active-target="gear" data-level="<%= @items[3].current_level.level %>" class="text-center">
      <%=image_tag("items/#{@items[3].name}.png", class:"item_pic rounded-circle border border-white", style:"width: 70px; height: 70px;")%>
      <p>+<%= @items[3].current_level.level %></p>
    </div>

    <div data-gear="<%= @items[4].name %>" data-action="click->active#select click->computations#progressBar" data-active-target="gear" data-level="<%= @items[4].current_level.level %>" class="text-center">
      <%=image_tag("items/#{@items[4].name}.png", class:"item_pic rounded-circle border border-white", style:"width: 70px; height: 70px;")%>
      <p >+<%= @items[4].current_level.level %></p>
    </div>

    <div data-gear="<%= @items[5].name %>" data-action="click->active#select click->computations#progressBar" data-active-target="gear" data-level="<%= @items[5].current_level.level %>" class="text-center">
      <%=image_tag("items/#{@items[5].name}.png", class:"item_pic rounded-circle border border-white", style:"width: 70px; height: 70px;")%>
      <p>+<%= @items[5].current_level.level %></p>
    </div>

  </div>
</div>
