<div class="container-sliders mt-100" data-controller="slider" style="margin: 0 42px;">
  <% @optionals.each_with_index do |optional, index| %>
    <div class="solar-blessing-slider">
      <div style="d-flex align-items-end">
        <%=image_tag("materials/#{optional}.png", class:"material_icon")%>
        <p data-slider-target="number" id="<%= index %>">0/12</p>
      </div>
      <div class="slider">
        <input type="range" min="0" max="12" value="0" class="slider" id="<%= index %>" data-action="input->slider#update">
      </div>
      <p>%</p>
    </div>
  <% end %>
</div>
<!--  <div class="solar-grace-slider">
    <div style="d-flex">
      <%=image_tag("materials/solar grace.png", class:"material_icon")%>
      <p>0/24</p>
    </div>
    <div class="slider">
      <input type="range" min="0" max="24" value="0" class="slider" id="myRange">
    </div>
    <p>%</p>
  </div>

  <div class="solar-blessing-slider">
    <div style="d-flex">
      <%=image_tag("materials/solar blessing.png", class:"material_icon")%>
      <p>0/12</p>
    </div>
    <div class="slider">
      <input type="range" min="0" max="12" value="0" class="slider" id="myRange">
    </div>
    <p>%</p>
  </div>

  <div class="solar-protection-slider">
    <div style="d-flex">
      <%=image_tag("materials/solar protection.png", class:"material_icon")%>
      <p>0/6</p>
    </div>
    <div class="slider">
      <input type="range" min="0" max="6" value="0" class="slider" id="myRange">
    </div>
    <p>%</p>
  </div>
    <% @optionals.each_with_index do |optional, index| %>
    <div class="solar-blessing-slider">
      <div style="d-flex">
        <%=image_tag("materials/solar blessing.png", class:"material_icon")%>
        <p data-slider-target="number" id="<%= index %>">0/12</p>
      </div>
      <div class="slider">
        <input type="range" min="0" max="12" value="0" class="slider" id="<%= index %>" data-action="input->slider#update">
      </div>
      <p>%</p>
    </div>
  <% end %>
