<div class="w3-light-grey w3-xlarge" style="width:75%">
  <div class="w3-container w3-green" style="width:<%= @current_level.success_chance.base %>%">
    <h2><%= @current_level.success_chance.base %>%</h2>
  </div>
  <h3 class="SliderText"><%= @current_level.success_chance.base %>%/<%= @current_level.success_chance.base * 2 %>%</h3>
</div>
<h1></h1>
<h1 class="d-none" data-honing-target="success"><%= @success ? "Success" : "Fail" %></h1>
<div class="w3-light-grey w3-xlarge mb-5" style="width:75%">
  <div class="w3-container w3-green" style="width:50%">50%</div>
  <h3 class="SliderText" id="protection">Bad luck protection %</h3>
</div>
